* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Welcome Page */
.welcome-page {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.welcome-text-container {
  margin: 35vh 10vh;
}

.welcome-heading {
  font-size: 2.8rem;
  margin-bottom: 16px;
}

.welcome-p {
  width: 90%;
  line-height: 1.4;
}

.welcome-link {
  background-color: rgb(183, 39, 39);
  color: #fff;
  padding: 10px 25px;
  margin-top: 2.5vh;
  display: inline-block;
}

/* Login Page */
.login-page {
  height: 100vh;
  max-height: 100vh;
}

.login-heading {
  text-align: center;
  padding: 10vh;
  font-size: 2.2rem;
}

.user-container {
  display: flex;
  justify-content: center;
}

.user-card {
  text-align: center;
  margin: 0 30px;
  width: 320px;
  background-color: rgb(183, 39, 39);
  padding: 0 0 14px;
  border-radius: 8px;
  transition: all ease-in-out 0.2s;
}

.user-name {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
}

#user-img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.user-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

/* Navbar */
.navbar {
  background-color: rgb(183, 39, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  color: #f2f2f2;
}

.logo {
  font-size: 1.7rem;
}

/* Home Page */
.home-heading {
  text-align: center;
  margin-top: 5vh;
  font-size: 2.2rem;
}

.muscles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 85%;
  margin: 5vh auto 0;
}

.muscle-card {
  background-color: rgb(183, 39, 39);
  padding: 3px 3px 10px;
  text-align: center;
  cursor: pointer;
  margin: 16px;
  transition: all ease-in-out 0.2s;
  width: 250px;
  border-radius: 8px;
}

.muscle-card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.muscle-img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.muscle-name {
  margin: 8px 0 0;
}

/* Workouts Page */
.workout-heading {
  text-align: center;
  margin-top: 5vh;
  font-size: 2.2rem;
}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 90%;
  margin: 5vh auto 0;
}

.exercise-card {
  width: 300px;
  margin: 16px;
  cursor: pointer;
  background-color: rgb(183, 39, 39);
  padding: 3px 3px 10px;
  border-radius: 8px;
  transition: all ease-in-out 0.2s;
}

.exercise-card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.exercise-card-img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.exercise-name {
  margin: 8px 0 0;
  text-align: center;
}
